.about {
    padding: 30px 0;

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @include m992 {
            grid-template-columns: 1fr 1fr;
        }
        
        hr {
            display: block;
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));

            @include m768 {
                display: none;
            }
        }
    }
}

