.stack {
    padding: 3rem 0;

    .tech-container {
        text-align: center;
        width: 100%;
        max-width: 60rem;
        margin: 6.5rem auto 3rem;
        
        @include m768 {
            margin: 4.5rem auto 3rem;
        }
        
        .tstack{
            font-size: 3.5rem;
            line-height: 1.2;
        }

        .icon-bigger{
            font-size: 8rem;
            line-height: 1.2;
            
            @include m768 {
                font-size: 10rem;

            }
        }

        p {
            margin: 2rem 0 0;
        }
    }

    hr {
        margin-bottom: 3rem;
    }
}





